<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <title>Users SHow</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <h1>User #{{user.id}}</h1>
    <p>Full Name: {{user.fullname}}</p>
    <p>Email: {{user.email}}</p>
    <p>Created at: {{user.created_at}}</p>
    <a href="/edit">Edit</a>
    <a href="/delete">Delete</a>
  </body>

</html>
